#fullscreen-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  #fullscreen-video::-webkit-media-controls {
    display: none !important;
  }
  
  #fullscreen-video::-webkit-media-controls-enclosure {
    display: none !important;
  }
  
  #fullscreen-video::-webkit-media-controls-panel {
    display: none !important;
  }
  
  @media screen and (max-width: 1080px) {
    #fullscreen-video {
      width: 100vw;
      height: 100vh;
    }
  }
  
